/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;-webkit-touch-callout:none;padding:0;margin:0;border:0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,article,aside,hgroup,header,footer,figure,figcaption,nav,section {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,hgroup,header,footer,figure,figcaption,nav,section {display: block;}
body {font-style:normal;font-size:12px;font-family:'돋움',Dotum,Helvetica,Verdana,Arial,sans-serif;color:#777;-webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6 {font-weight:600;}
strong {font-weight:600;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:'';}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;}
button {margin:0;padding:0;border:0;font:inherit;color:inherit;background:transparent;overflow:visible;cursor:pointer;line-height:1;}
a:link,a:visited,a:hover,a,active,a:focus {text-decoration:none;cursor:pointer;color:#999;}
legend,caption {display:none;}
textarea {resize:vertical;font:inherit;overflow-y:auto;}
input,select {color:inherit;font:inherit;vertical-align: middle;}
address,i {font-style:normal;}
table {border-collapse:collapse;table-layout:fixed;}
img,select,input,button {vertical-align:middle;}
em {font-style:normal;}



/*with-view*/
body{font-family: }