div.wrap{padding-bottom: 60px;min-height: 672px;}
.page_tit{}
.page_tit h2{margin: 0 auto;font-size:38px;color:#554d47;background:url('./../img/find_secret.png')no-repeat 587px;letter-spacing:-0.2px; line-height: 36px;display:block;padding:53px 0 52px;text-align: left;font-weight: bold; width: 960px;}
.content_wrap{margin:0 auto; width: 960px;}
.content_wrap > div {padding:70px 0 52px;}
.content_wrap > div > div.content_box{border:1px solid #c4c4c4; padding:0 221px;margin:0 auto;}

.menu_mypage{padding-top: 50px;}
.content_wrap div div.tit{font-size:15px;font-weight: bold;color:#000;letter-spacing:-0.2px;padding-bottom:10px;border-bottom:2px solid #c4c4c4;margin-bottom:33px;}
.content_box {text-align: center;}
.content_box > img{padding-top: 84px;}
.content_box > div strong{font-size:24px;font-weight: bold;color:#616161;line-height: 30px;letter-spacing:-0.2px;margin:34px 0 0;display:inline-block;}
.content_box > div p{color:#909090;display: inline-block;font-size:15px;width:335px;margin:12px 0 82px;}
.content_box form ul li{margin-top: 0;}
.content_box form ul li:last-child{margin-top: 12px;padding-bottom:30px;border-bottom:2px solid #c4c4c4;}
.content_box form ul li label{font-size:15px;color:#616161;line-height: 40px;letter-spacing:-0.2px;display:block; float:left;width: 152px;}
.content_box form ul li input{background:#f6f7f8; border:1px solid #dbdbdb; color:#616161; font-size:15px; letter-spacing:-0.2px; line-height: 38px; padding:0 11px; width: 340px;}

.btn_edit{text-align: center;padding-bottom:43px;padding-top: 30px;}
.btn_edit button{background-color:#e51837;border-radius:3px; box-shadow:1px 4px 3px 2px #e5e5e5;width:210px;height:50px;}
.btn_edit button span{color:#fff;font-size:18px;}
.btn_edit button:nth-child(2){background-color:#979797;margin-left: 12px;}

