div.wrap{padding-bottom: 60px;min-height: 672px;}
.page_tit{}
.page_tit h2{margin: 0 auto;font-size:38px;color:#554d47;background:url('./../img/member_history.png')no-repeat 587px;letter-spacing:-0.2px; line-height: 36px;display:block;padding:53px 0 52px;text-align: left;font-weight: bold; width: 960px;}
.content_wrap{margin:0 auto; width: 960px;}
.content_wrap > div {padding:70px 0 52px;}
.content_wrap > div > div.content_box{border:1px solid #c4c4c4;margin:0 auto;}

.menu_mypage{padding-top: 50px;}
.content_wrap div div.tit{font-size:15px;font-weight: bold;color:#000;letter-spacing:-0.2px;padding-bottom:10px;border-bottom:2px solid #c4c4c4;margin-bottom:33px;}
.content_box {background:url('./../img/event_background.png')no-repeat center center; text-align: center;}
.circle{box-shadow:0 0 35px; margin:56px 292px ;border-radius:200px; border:1px solid #d4d2cf; background:#fff; width:372px;height:372px;}
.circle_tit{font-weight:bold;margin:98px 0 20px;font-size:24px;line-height:35px;letter-spacing:-0.8px;color:#7a7673;}
.circle_tit span{color:#e06604;}
.circle p{font-size:15px;color:#909090; display:inline-block; text-align:center;line-height:22px; width:262px;}
.bt_log{color:#f16018;background:#fff;border:3px solid #ff9d29;padding:14px 0 12px;border-radius:24px;font-size:20px;font-weight:bold;margin-top:32px;letter-spacing:-0.5px; width:181px;}
