@charset "utf-8"; 

@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-face {
 font-family: 'NanumBarunGothic';
 src: url('./../fonts/nanum/NanumBarunGothicWeb.eot');
 src: url('./../fonts/nanum/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/nanum/NanumBarunGothicWeb.woff') format('woff'),
      url('./../fonts/nanum/NanumBarunGothicWeb.ttf') format('truetype');

