/***********************************

	UNSEO JANG's 1st Portfolio

***********************************/

/* common */

body{
	background:#0c0d0d;
	color:#fff;
	width: 100%;
	min-width: 1280px;
	overflow-x:hidden;
	font-family:'Nanum Barun Gothic', sans-serif;
}

h2{
	font-size:40px;
	line-height: 40px;
	letter-spacing:-0.2px;
	color:#989898;
	text-align:right;
	border-right:8px solid #594c60;
	text-shadow:0 2px 4px #000;
	padding:0 20px;
	margin:0 0 40px;
	clear:both;
}

.valign {
	display:table;
	height:100%;
	width:100%;
}
.valign .middle {
	display:table-cell;
	vertical-align:middle;
	height:100%;/* 세로기준가운데정렬 */
}


/* navigation */
header{

}
header nav{
	background:rgba(0,0,0,.6);
	display: none;
	text-align: center;
	position:fixed;
	left:0;
	top:0;
	opacity:0;
	width:100%;
	height:100%;
	z-index:99;
}

header ul{

}

header ul li{
	margin-top: 200px;
}

header ul li a{
	font-size:40px;
	font-weight:800;
}

header ul li a:hover{
	transition:all 800ms;
	color:#dd455e;
}
header .btns a {
	background-repeat:no-repeat;
	display:block;
	text-indent:2000%;
	overflow:hidden;
	white-space:nowrap;
	position:absolute;
	left:0;
	top:0;
	width:159px;
	height:150px;
	z-index:100;
	transition:background 800ms;
}
header .btns a.btn_open {
	background-image:url('./../img/btn_navi.png');
}
header .btns a.btn_open:hover {
	background-image:url('./../img/btn_navi_active.png');
}
header .btns a.btn_close {
	background-image:url('./../img/btn_navi_close.png');display:none;opacity:0;
}
header .btns a.btn_close:hover {
	background-image:url('./../img/btn_navi_close_active.png');
}

/* wrap */
#wrap{
	max-width: 2560px;
	min-width: 1280px;
}

/* intro */
#intro {
	background:#0c0d0d;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	overflow:hidden;
	z-index:2;
}
#intro > div {
	height:100vh;/* vh = viewport height */
	position:relative;
	z-index:2;
} 
#intro .start {
	position:relative;
}
#intro .start .tit{
	position:absolute;
	text-align:center;
	left:0;
	top:50%;
	margin-top:-77.5px;
	width: 100%;
}

/* ----------------------------------------- */
#intro .charactor {
	background: rgba(0,0,0,1); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(25,23,26,.7),#2f2731); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(25,23,26,.7), #2f2731); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(25,23,26,.7), #2f2731); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(0,0,0,0), rgba(25,23,26,.7), #2f2731); /* Standard syntax */
}
.charactor .valign,
.charactor .valign .middle {
	width:100%;
}
.charactor .slider {
	border:1px solid #fff;
	border-radius:50%;
	text-align:center;
	margin:0 auto;
	position:relative;
	width:84.375vh; /* 1280px:1080px = 100vh:84.375vh */
	height:84.375vh;
}
.charactor .slider .cont{
	overflow:hidden;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
}
.charactor .slider .cont ul {
	overflow:hidden;
}
.charactor .slider .cont ul li {
	box-sizing:border-box;
	float:left;
	padding:0 60px;
	
}
.charactor .slider .cont ul li .tit{
	background:url('./../img/bg_intro_slider_tit.png') no-repeat center center;
	background-size:auto 100%;
	font-size:140px;font-size:10.9375vh;
	font-weight:bold;
	letter-spacing:-0.2px;
	text-shadow:5px 5px #000;
	padding:29px 0 33px;padding:2.265625vh 0 2.578125vh;
}
.charactor .slider .cont ul li .translate{
	font-family:'Nanum Myeongjo',sans-serif;
	font-size:14px;
	letter-spacing:-0.2px;
	color:#baabc2;
	display:block;
	margin:46px 0 0;
}
.charactor .slider .cont ul li p{
	font-weight:bold;
	font-size:14px;
	line-height:24px;
	color:#989898;
	letter-spacing:-0.2px;
	margin-top:45px;
}

.slider .btns .btns_circle ul li {
	padding:20px 0 0;
	margin:0 0 0 -20px;
	transform-origin:50% 100%;
	position:absolute;
	left:50%;
	top:-20px;
	width:40px;
	height:42.1875vh;
}
.slider .btns .btns_circle ul li:nth-child(1) {
	transform:rotate(0);
}
.slider .btns .btns_circle ul li:nth-child(2) {
	transform:rotate(72deg);
}
.slider .btns .btns_circle ul li:nth-child(3) {
	transform:rotate(144deg);
}
.slider .btns .btns_circle ul li:nth-child(4) {
	transform:rotate(216deg);
}
.slider .btns .btns_circle ul li:nth-child(5) {
	transform:rotate(288deg);
}

.slider .btns .btns_circle ul li a {
	background:#efeeee;
	border:8px solid #d0bdc0;
	border-radius:50%;
	box-sizing:border-box;
	display:block;
	width:40px;
	height:40px;
	position:absolute;
	left:0;
	top:0;
	transition:all 400ms;	
}
.slider .btns .btns_circle ul li a:hover {
	background:#000;
	border:14px solid #da465e;
}
.slider .btns .btns_circle ul li.active a,
.slider .btns .btns_circle ul li.active a:hover {
	background:#fff;
	border:4px solid #da465e;
}

.slider .btns .controlor a {
	background:url('./../img/btn_intro_slider.png') no-repeat;
	display:block;
	text-indent:2000px;
	overflow:hidden;
	white-space:nowrap;
	margin-top:-82px;
	position:absolute;
	left:50%;
	top:50%;
	width:105px;
	height:164px;
	transition:background 800ms;
}
.slider .btns .controlor a.prev {
	background-image:url('./../img/btn_intro_slider_prev.png');
	margin-left:-640px;
}
.slider .btns .controlor a.next {
	background-image:url('./../img/btn_intro_slider_next.png');
	margin-left:535px;
}

.slider .btns .controlor a.prev:hover {
	background-image:url('./../img/btn_intro_slider_prev_active.png');
}
.slider .btns .controlor a.next:hover {
	background-image:url('./../img/btn_intro_slider_next_active.png');
}
.slider .btns .controlor a.prev.disabled,
.slider .btns .controlor a.prev.disabled:hover {
	background-image:url('./../img/btn_intro_slider_prev_disabled.png');
}
.slider .btns .controlor a.next.disabled,
.slider .btns .controlor a.next.disabled:hover {
	background-image:url('./../img/btn_intro_slider_next_disabled.png');
}

/* ----------------------------------------- */
#intro .planet {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
}

#intro .planet img {
	position:absolute;
	left:50%;
	top:50%;
}

#intro .planet .earth {
	position:absolute;
	left:50%;
	top:50%;
	margin:-305px 0 0 -730.5px;
	z-index:1;
}
#intro .planet .earth img:first-child {
	position:static;
}
#intro .planet .earth img:last-child {
	left:0;
	top:0;
}
#intro .planet .light_bg {

}
#intro .planet .light_bg .pink {
	margin:-1720px 0 0 -1280px;
}
#intro .planet .light_bg .white {
	margin:-365px 0 0 -734.5px;
}
#intro .planet .light .light_source_05 {
	margin:-1310px 0 0 -1200px;
}
#intro .planet .light .light_source_04 {
	margin:-790px 0 0 -480px;
}
#intro .planet .light .light_source_03 {
	margin:-570px 0 0 -135px;
}
#intro .planet .light .light_source_02 {
	margin:-530px 0 0 -110px;
}
#intro .planet .light .light_source_01 {
	margin:-410px 0 0 70px;
}
#intro .planet .light_heart .light_heart_01{
	margin:-520px 0 0 0px;
}
#intro .planet .light_heart .light_heart_02{
	margin:-305px 0 0 250px;
}

/* ----------------------------------------- */
#container {position:fixed;}

/* about */
.about{
	/*background-color: -webkit-linear-gradient(left top,#594d69,#1a171a);
	background-color:    -moz-linear-gradient(left top,#594d69,#1a171a);
  	background-color:     -ms-linear-gradient(left top,#594d69,#1a171a);
  	background-color:      -o-linear-gradient(left top,#594d69,#1a171a);
  	background-color:         linear-gradient(left top,#594d69,#1a171a);*/
  	background:#1a171a url('./../img/bg_about.png') no-repeat center 0;
  	background-size:2560px auto;

  	text-align:right;
}
.about > div {
	box-sizing:border-box;
	padding:80px 20px 0;
	margin:0 auto;
	width:100%;
	max-width:1280px;
}

.hello .wrap .photo{

}

.hello .wrap .name{
	font-size:60px;
	color:#d2c8d8;
	font-weight:400;0;
	letter-spacing:-0.2px;
	line-height:62px;
	margin:12px 0 7px 0;
	text-shadow:2px 2px #000;
	font-weight:500;
}

.hello .wrap .name span{
	color:#dd455e;
}

.hello .wrap .name .small_planet{
	position: relative;
}

.hello .wrap .name .small_planet .planet{
	position: absolute;
	right: 497px;
	top: 124px;
}

.hello .wrap .name .small_planet .line{
	position:absolute;
	right:378px;
	top:-56px;
}

.hello .wrap .job{
	color:#dd455e;
	height:44px;
	background:rgba(12,13,13,.6);
	display: inline-block;
	font-size:31px;
	margin-bottom:40px;
}

.hello .wrap .profile{
	padding-right:5px;
}

.hello .wrap .profile li{
	background:url('./../img/ico_about_profile.png') no-repeat right;
	padding-right:29px;
	font-size:14px;
	color:rgba(255,255,255,.8);
	margin-bottom:10px;
	text-shadow:2px 2px #000;
}
.hello .wrap .profile li:last-child{
	margin-bottom:60px;
}

.hello .wrap .profile li span{

}
.hello .wrap .academic{
	background:url('./../img/academic_bar.png')no-repeat right;
	padding-right:26px;
}
.hello .wrap .academic li{
	color:rgba(255,255,255,0.8);
	margin-bottom: 35px;
	letter-spacing:-0.4px;
}
.hello .wrap .academic li:first-child{
	background:url('./../img/ico_about_edu_03.png')no-repeat;
}

.hello .wrap .academic li div{
	font-size:18px;
	color:rgba(255,255,255,.8);
}
.hello .wrap .academic li div:nth-child(2){
	padding-right: 2px;
}
.hello .wrap .academic li .data{
	font-size:12px;
	margin-bottom: 13px;
}

.hello .wrap .academic li .import{
	font-size:18px;
}
.hello .wrap .academic li .import strong{
	color:rgba(255,255,255,1);
	font-weight:400;
}
.hello .wrap .academic li:last-child{
	color:#1a171a;
	font-size:20px;
	background:#fff;
	height:27px;
	width:141px;
	display: inline-block;
	text-align: center;
}

/*skill*/

.skill{
	padding:0 20px 0 20px;
	box-sizng:border-box;
}
.skill ul{
	
}
.skill ul li{
	float: right;
	position: relative;
	text-align: center;
	margin-right:39px;
	margin-bottom: 80px;
}

.skill ul li a{
	color:#dfd0d3;
	font-size:14px;
}

.skill ul li a .tit{
	margin-top:15px;
}

.skill ul li a > div img{
	text-align:center;
	display: inline-block;
}

.skill ul li a .basic{

}

.skill ul li a .over{
	position:absolute;
	top: 0;
	left: 0;

}

.skill ul li a:nth-child(1) .over{
	opacity:0;
}
.skill ul li a:nth-child(2) .over{
	opacity:0;
}
.skill ul li a:nth-child(3) .over{
	opacity:0;
}
.skill ul li a:nth-child(4) .over{
	opacity:0;
}
.skill ul li a:nth-child(5) .over{
	opacity:0;
}
.skill ul li a:nth-child(6) .over{
	opacity:0;
}
.skill ul li a:nth-child(7) .over{
	opacity:0;
}


.skill ul li a:nth-child(1):hover .basic{
	opacity:0;
	transition:all 1000ms;
}
.skill ul li a:nth-child(2):hover .basic{
	opacity:0;
	transition:all 1000ms;
}
.skill ul li a:nth-child(3):hover .basic{
	opacity:0;
	transition:all 1000ms;
}
.skill ul li a:nth-child(4):hover .basic{
	opacity:0;
	transition:all 1000ms;
}
.skill ul li a:nth-child(5):hover .basic{
	opacity:0;
	transition:all 1000ms;
}
.skill ul li a:nth-child(6):hover .basic{
	opacity:0;
	transition:all 1000ms;
}
.skill ul li a:nth-child(7):hover .basic{
	opacity:0;
	transition:all 1000ms;
}


.skill ul li a:nth-child(1):hover .over{
	opacity:1;
	transition:all 1000ms;
}
.skill ul li a:nth-child(2):hover .over{
	opacity:1;
	transition:all 1000ms;
}
.skill ul li a:nth-child(3):hover .over{
	opacity:1;
	transition:all 1000ms;
}
.skill ul li a:nth-child(4):hover .over{
	opacity:1;
	transition:all 1000ms;
}
.skill ul li a:nth-child(5):hover .over{
	opacity:1;
	transition:all 1000ms;
}
.skill ul li a:nth-child(6):hover .over{
	opacity:1;
	transition:all 1000ms;
}
.skill ul li a:nth-child(7):hover .over{
	opacity:1;
	transition:all 1000ms;
}
/*recent*/

.recent{
	padding:0 20px 0 20px;
	box-sizng:border-box;
}
.recent > h2 {
	margin-top: 80px;
}

.recent ul{
	padding-top: 80px;
}

.recent ul li{
	text-align:right;
}

.recent ul li .data{
	font-size:12px;
	color:#fff;
	margin-bottom:8px;
	letter-spacing:-0.4px;
}

.recent ul li .tit{
	font-size:22px;
	color:#fff;
	letter-spacing:-0.4px;
	font-weight:600;
	margin-bottom:24px;
}

.recent ul li .type{
	font-size:12px;
	color:#594c60;
	letter-spacing:-0.4px;
	margin-bottom:12px;
}

